<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">RevaBursement Manager Dashboard</h1>
      <p class="lead text-muted">Manage employee reimbursements. Add or view your reimbursements!</p>
      <p>
        <button class="btn btn-primary my-2" id="to-createReimb">Submit Reimbursement</button>
        <button class="btn btn-secondary my-2" id="to-reimbsMan">My Reimbursements</button>
        <button class="btn btn-info my-2" id="to-reimbsEmpMan">Employee Reimbursements</button>
      </p>
    </div>
  </section>
  <p class="mt-5 mb-3 text-muted">&copy; Revature 2017-2019</p>