<div id="submitReimbContainer">
    <label for="register-fn" class="sr-only">Reimbursement Amount</label>
    <input type="text" id="reimb-amount" class="form-control" placeholder="Amount" required autofocus>

    <label for="register-fn" class="sr-only">Description</label>
    <input type="text" id="reimb-description" class="form-control" placeholder="description" required autofocus>

    <label for="register-fn" class="sr-only">Type</label>
    <select type="text" id="reimb-type" class="form-control" placeholder="type" >
        <option value = "Lodging">Lodging</option>
        <option value = "Travel">Travel</option>
        <option value = "Travel">Food</option>
        <option value = "Other">Other</option>
    </select>

    <button class="btn btn-lg btn-primary btn-block" id="to-submitReimb">Submit</button>

    <div id="reimbInfo" class="alert alert-success text-center" role="alert">
            Thank you, your reimbursement has been submitted!
            </div>

    <div class="alert alert-danger text-center" id="emptyReimb-msg" role="alert">
            Please Fill Out All Fields Properly!
        </div>
</div>
<p class="mt-5 mb-3 text-muted">&copy; Revature 2017-2019</p>